<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>walmart</h1>
    <input type="text" placeholder="検索" name="s"
     class="search-edit" aria-label="input" value>
    <a href="{{url_for('department_page')}}">カテゴリー</a>
    <a href="{{url_for('sale')}}">セール！</a>
    <a href="{{url_for('food')}}">食品</a>
    <a href="{{url_for('life')}}">生活用品</a>
    <a href="{{url_for('cart')}}">カート</a>
    <a href="{{url_for('merchan')}}">商品追加</a>



</body>
</html>